a {
  color: #ffffff;
  text-decoration: none;
  background-color: #00008b;
  padding: 2rem;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*Test4*/
/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/
h2 {
  color: #ffa500;
}

header {
  background-color: #00008b;
}