
/*Portfolio*/
 $red_brown: #9e391a;
 $white:#ffffff;
 $tan:#c4ac7c;
 $light_blue:#5e6a58;
 $dark_green:#354536;
 $dark_blue:#2d433a;
 $sw_blue:#15f2fd;
 $sw_yellow:#FFE81F;
 $swboxShadow:rgba(21,242,253,0.5);
 $zeldaboxShadow:rgba(184, 184, 184, 0.5);
 $zelda_yellow:#ff9e1f;
$lightGray:#7d7d7e;

/*Quiz Colors Ninja*/
 $bodyBG:#5F1C1C;
 $background:rgba(255,255,255,1);
 $boxShadow:rgba(0,0,0,0.3);
 $h1:#611bbd;
 $buttonColor:#ffffff;
 $buttonBg:#611BBD;
 $buttonBorder:#130269;
 $result:#fff;
 $wrong:#fff;
 $wrongBg:#c00;
 $correct:#0c0;
 $black: #000000;

 /* Harry Potter Colors */

 $gryfindor:#740001;
 $gryfindor: #AE0001;
 $gryfindor:#D3A625;
 $gryfindor:#EEBA30;
 $gryfindor: #C0C0C0;


 $slytherin:#1A472A;
 $slytherin:#2A623D;
 $slytherin: #5D5D5D; 
 $slytherin:#AAAAAA; 
 


 
 $ravenclaw:#0E1A40;
 $ravenclaw:#222F5B;
 $ravenclaw: #5D5D5D; 
 $ravenclaw:#946B2D; 
 


 $hufflepuff:#FFF4B1;
 $hufflepuff:#FFED86;
 $hufflepuff:#FFDB00;
 $hufflepuff:#60605C;
 