
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');


/*h1*/
$roboto:'Roboto', sans-serif;
/*h2*/
$nunito:'Nunito', sans-serif;

$balooDa: 'Baloo Da', cursive;