@use '_colors';
@use 'fonts';






.notes{
    background-color: colors.$tan;
    border: solid 2px colors.$red_brown;
    padding:0rem 2rem;
   
    

}

.notes h3,{
    font: 700 2rem fonts.$nunito;
    color:colors.$dark_green;
    margin-bottom:.5rem;

}

.notes p, .notes li{
    font: 700 1rem fonts.$nunito;
    color:colors.$dark_green;
    margin-top:0rem;
}




div.notes>h2{
    font: 700 2rem fonts.$nunito;
    color:colors.$dark_green;
    margin-bottom:.5rem;
    

    
}

.sizing{
    max-width:100%;


}

#story_editor{
    width:100%;
    height:auto;
    border: solid 3px colors.$red_brown;
    margin-bottom: 2rem;
}