@use '_colors';
@use 'fonts';


.sidebar{
    background-color: colors.$tan;
    border: solid 2px colors.$red_brown;
    margin-right:1rem;
    padding:1rem;

}

.sidebar ul{
    list-style: none;
    padding:0;
}

.sidebar li{
    color: colors.$dark_green;
    font-weight: 300;
    font-size: 2rem;
    font-family: fonts.$nunito

}

.right_sidebar{
    
    background-color: colors.$tan;
    border: solid 2px colors.$red_brown;
    margin-left:1rem;
    margin-right:0;
    padding:1rem;
}