
@use "partials/_colors";
@use "partials/_fonts";
@use "partials/_buttons";
@use "partials/_links";
@use "partials/_sidebar";
@use "partials/_notes";
@use "partials/_main_flex";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/


body{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

main{
    padding:0;
    margin:0;
   

}

main>h2{
    font: 700 2rem fonts.$nunito;
    color:colors.$dark_green;
    margin-bottom:.5rem;

}


.book_examples{
    font-family:fonts.$nunito ;
    font-size:2.5rem;
    font-weight:900;
    color:colors.$dark_green;
    
}

h2.book_examples{
    margin:0;
}


.header_bg{
    background-color:colors.$red_brown;
}

header>h1{
    font-family:fonts.$roboto;
    font-weight:900;
    font-size:3em;
    color:colors.$white;
}


.fas.fa-user-ninja, .fas.fa-book-reader{
   padding: 0rem 2rem;


}
// #result_display{
//     display:none;
// }


