
@import "partials/_colors";
@import "partials/_fonts";


/*Test8*/
/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/
body{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}





a{
    color:$white;
    text-decoration:none;
   

}

.main_links{
    
    padding:2rem;
    margin-top:1rem;
    margin-bottom:1rem;

}

.wk_links:hover{
    background-color:$dark_green;

}

.header_bg{
    background-color: $red_brown;
}

header>h1{
    font-family:$roboto;
    font-weight:900;
    font-size:3em;
}

.wk_links{
    background-color:$light_blue;
    font-family:$nunito;
    font-weight:600;
    font-size:2em;
}
