
@import "partials/_colors";


/*Test8*/
/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/
main{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


header{
    background-color: $blue;
}


a{
    color:$white;
    text-decoration:none;
   

}

.main_links{
    background-color:$blue;
    padding:2rem;
    margin-top:1rem;
    margin-bottom:1rem;

}

