
@use "partials/_colors";
@use "partials/_fonts";
@use "partials/_buttons";
@use "partials/_links";
@use "partials/_sidebar";
@use "partials/_notes";
@use "partials/_main_flex";
/*Test8*/
/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/
body{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.book_examples{
    font-family:fonts.$nunito ;
    font-size:2.5rem;
    font-weight:900;
    color:colors.$dark_green;
    padding-left: 2rem;
}

.header_bg{
    background-color:colors.$red_brown;
}

header>h1{
    font-family:fonts.$roboto;
    font-weight:900;
    font-size:3em;
    color:colors.$white;
}

// #result_display{
//     display:none;
// }


