
@import "partials/_colors";
@import "partials/_fonts";


/*Test8*/
/*run in terminal to auto compile sass*/
/*sass --watch styles.scss:../css/styles.css*/
body{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


header{
    background-color: $orange;
}


a{
    color:$white;
    text-decoration:none;
   

}

.main_links{
    background-color:$tan;
    padding:2rem;
    margin-top:1rem;
    margin-bottom:1rem;

}

header>h1{
    font-family:$roboto;
    font-weight:900;
    font-size:3em;
}

