<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <title>First Event</title>
</head>
<body>
<script src="../js/first_event.js"></script>
<header class="header_bg">
    <h1 class="main_links header_bg"><a href= ../index.html>Portfolio WDD330</a>  |  <a href=wk01.html>Week1</a> | 2.1-2.2 </h1>
</header> 

<ln></ln>

<main>

    <button class="button_styles button_center" onClick="showCongratulations(this)">Click Me!</button>
    <section class="notes" id="result_display" style="display: none"></section>


</main>
    
</body>
</html>