<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='description' content='A JavaScript Quiz Game'>
        <title>Quiz Ninja</title>
        <link rel='stylesheet' href='/css/styles.css'>
        </head>
        <body class="quizBody">
        <section class='dojo'>
        <div class='quiz-body'>
        <header>
        <h1 class="quizH1">Quiz Ninja!</h1>
        </header>
        </div>
        </section>
        <script src='../js/quizMain.js'></script>
        </body>
        </html>
    
