<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Portfolio | Week 3 | Array Cardio 💪</title>
  </head>

  
  <body>

    <header class="header_bg">
      <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330</a> | <a href="wk03.html">Week 3</a> | Team Project <i class="fas fa-user-ninja"></i></h1>
     
  </header> 


    
    <p><em>Psst: have a look at the JavaScript Console</em> 💁</p>

    <div class="inventorDiv">
        <ol id="inventorList">Inventors born in 1500's</ol> <br>

        <ol id="inventorFirstLast">Inventors First and Last Name</ol>

        <ol id="inventorAge">Sorted by Birthyear</ol>

    </div>

    <script src="../js/wk3.js"></script>
  </body>
</html>
