<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>Team 11 | Week 2</title>
</head>
<body>

    <header class="header_bg">
        <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | </a> <a href=wk02.html >Week 2</a> | Team Project <i class="fas fa-user-ninja"></i></h1>
       
    </header>  

<main>
    <p>This input will take a number and add all the numbers leading up to it and output a new number.</p>
    <p>Example: Input = 5 </p>
    <p>Output sum of = 1+2+3+4+5</p>
    <input placeholder="Enter a valid number" type="number" id="numOne" required></input>
    <button  class="button_styles" onclick="firstInput()">Calculate</button> 
    <div>Answer One:<span id="answerOne"></span></div>  


<p>This input will take a number and calculate a new output using the given number and the previouse output.</p>
    <input placeholder="Enter a valid number" type="number" id="numTwo" required ></input>
    <button name="button" value='add'class="button_styles button" onclick="addButton()">+</button> 
    <button name="button" value='subtract'class="button_styles button" onclick="subButton()">-</button> 
    <button name="button" value='multiply'class="button_styles button" onclick="mulButton()">*</button> 
    <button name="button" value="divide" class="button_styles button" onclick="divButton()">/</button> 
    <div>Answer Two:<span id="answerTwo"></span></div> 
    

</main>
<script src="../js/wk2.js"></script> 
</body>
</html>