<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <title>Portfolio|Week 1</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 13</a></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="#">2.1-2.2 

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="#">2.3 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes</h3>
    <p>
    </p>
</article>
</main>


</body>
</html> 