<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <title>Portfolio|Week 1</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 1</a></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="first_event.html">2.1-2.2 

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="story_editor.html">2.3 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes</h3>
    <p>The second example in the book really had my brain going.
        I really wanted to figure out a way to have my notes section in github 
        read and write. I know it doesn't support php, but I was reading about using node.js
         having capabilities of reading and writing to a file. I really wish I could just write directly in my browser window 
         and make permanent changes to my notes section. I'm not sure on how to do that without a DB. 

        I really enjoyed the video on mobile design. I was wondering if they are a little dated. Only because I've heared about mobile first forever now, but I've also heared it's impotrant to design both the mobile and the desktop simultaneously. If you were to create the mobile with no idea of the desktop, the design can still suffer.
    </p>
</article>
</main>


</body>
</html>