<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <title>Portfolio|Week 2</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 2</a><i class="fas fa-user-ninja"></i></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
     <!--Rainbow Example-->
    <li>
        <a class="section_links" href="rainbow.html">Section1.2 Rainbow
        
        </a>
    </li>
    <!--Quiz Ninja 1-->
    <li>
        <a class="section_links" href="quiz.html">Quiz Ninja 1

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="#">Team 
            
        </a>
    </li>
</ul>

<h3 class="book_examples">Questions</h3>
<ul>
    <li></li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes: Novice to Ninja<i class="fas fa-user-ninja"></i></h3>
    <h4></h4>
    <ul>
        <li>Ch2 Programing Basics</li>
        <li>Ch3 Arrays, Logic, and Loops</li>
        <li>Ch4 Functions</li>
    </ul>

    <p>Ch2
    </p>
    <ul class="list">
        <li>
            well commented code is the hallmark of a ninja programmer
        </li>

        <li>
            best practice to write each statement on a new line, terminated by a semi-colon
        </li>

        <li>A block is a series of statements that are collected together inside curly braces</li>

        <li>Primitive Data Types:String, Symbol, Number, Boolean, Undefined, Null
        </li>

        <li>Any value that isn’t one of the primitive data types listed above is an object.
            These include arrays, functions and object literals...</li>

         <li> a special operator called typeof for finding out the type of a value</li>

         <li>Variables have to be declared before they can be used.</li>

         <li>JavaScript uses the keywords const and let to declare variables.</li>

         <li>const is used when the variable will not be reassigned to another value</li>

         <li>let is used if the variable might be reassigned later in the program</li>

         <li>try to use const to declare most variables. This helps to avoid
            any bugs caused by unexpected changes in assignment.</li>

        <li>A ninja programmer will try to keep the
                number of global variables to a minimum, because any variables that share the
                same name will clash and potentially overwrite each other’s values</li>

        <li>When naming constants and variables, you should try to give them sensible
                    names that describe what the variable represents</li>

        <li>JavaScript’s built-in functions use the camel-case notation and this is probably
                        the best convention to follow when naming the constants and variables in your
                        code. The most important thing is to be consistent.</li>

                        <li>If you want to use double quote marks inside a string literal, you need to use
                            single quote marks to enclose the string. And if you want to use an apostrophe in
                            your string, you will need to use double quote marks to enclose the string,
                            otherwise the apostrophe will terminate the string, causing an error:</li>
                            <li>Another option is to escape the quotation mark. You place a backslash before the
                                apostrophe so it appears as an apostrophe inside the string instead of terminating
                                the string:</li>

                                <li>A method is an action that a primitive data type or object can perform. To call a
                                    method, we use the dot operator (.) followed by the name of the method,
                                    followed by parentheses</li>

                                    <li>Template literals use the backtick character, ` , to deliminate the string</li>

                                    <li>They also allow interpolation of JavaScript code. This means that a JavaScript
                                        expression can be inserted inside a string and the result will be displayed</li>

                                        <li>Template literals can be thought of as super-powered strings as they behave in the
                                            same way as normal string literals, but with the extra power of string interpolation.
                                            For this reason, it is not uncommon to see backticks used to create all strings in ES6
                                            code.</li>

                                            <li>The main use-case for symbols is as object property keys</li>
                                            <li>The toFixed() method rounds a number to a fixed number of decimal places</li>

                                            <li>Number.isFinite() method. This will return true if the value is a number that
                                                isn’t Infinity, -Infinity or NaN:</li>

                                                <li>Type coercion happens when the operands of an operator are of different types. In
                                                    this case, JavaScript will attempt to convert one operand to an equivalent value of
                                                    the other operand’s type.</li>

                                                    <li>If you need
                                                        to change the type, then do it manually, rather than relying on type coercion to do
                                                        it for you.</li>

                                                        <li>The best way to change a string to a number is to use the Number method. This
                                                            will convert the string form of a number into an actual number:</li>

    </ul>
    <p>Ch3</p>
    <p></p>
    <p>Ch4</p>
    <p></p>
</article>
<aside class="sidebar right_sidebar">
    <h3 class="book_examples">Reserved Words</h3>
    <ul>
        <li>abstract</li>
        <li>await</li>
        <li>boolean</li>
        <li>break</li>
        <li>byte</li>
        <li>case</li>
        <li>catch</li>
        <li>char</li>
        <li>class</li> 
        <li>const</li> 
        <li>continue</li>
        <li>debugger</li>
        <li>default</li>
        <li>delete</li> 
        <li>do</li>
        <li>double</li>
        <li>else</li> 
        <li>enum</li> 
        <li>export</li> 
        <li>extends</li> 
        <li>false</li> 
        <li>final</li> 
        <li>finally</li>
        <li>float</li>
        <li>for</li> 
        <li>function</li> 
        <li>goto</li> 
        <li>if</li> 
        <li>implements</li> 
        <li>import</li> 
        <li>in</li>
        <li>instanceof</li> 
        <li>int</li> 
        <li>interface</li> 
        <li>let</li> 
        <li>long</li> 
        <li>native</li>
        <li>new</li> 
        <li>null</li>
        <li>package</li> 
        <li>private</li> 
        <li>protected</li> 
        <li>public</li>
        <li>return</li> 
        <li>short</li> 
        <li>static</li>
        <li>super </li>
        <li>switch </li>
        <li>synchronized</li>
        <li>this</li> 
        <li>throw</li> 
        <li>throws</li> 
        <li>transient</li>
        <li>true</li> 
        <li>try</li> 
        <li>typeof</li> 
        <li>var</li>
        <li>volatile</li>
        <li>void</li> 
        <li>while  </li>
        <li>with</li> 
        <li>yield</li>
    </ul>
</aside>
</main>


</body>
</html>