<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>Portfolio|Week 3</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 3</a><i class="fas fa-user-ninja"></i></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="#">TBA 

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="#">TBA 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes: Novice to Ninja<i class="fas fa-user-ninja"></i></h3>
    <h4></h4>
    <ul>
        <li>Ch5 Objects</li>
        <li>Ch6 DOM</li>
        <li>Ch7 Events</li>
    </ul>

    <p>Ch5
    </p>
    <p>Ch6</p>
    <p></p>
    <p>Ch7</p>
    <p></p>
</article>
</main>


</body>
</html>