<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>Portfolio|Week 3</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 3</a><i class="fas fa-user-ninja"></i></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="#">TBA 

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="teamWk3.html">Team Project  
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes: Novice to Ninja<i class="fas fa-user-ninja"></i></h3>
    <h4></h4>
    <ul>
        <li>Ch5 Objects</li>
        <li>Ch6 DOM</li>
        <li>Ch7 Events</li>
    </ul>

    <p>Ch5
    </p>
    <p>Objects are limited to using strings for key values, whereas maps can use any data type as a key.</p>
    <p>There is no efficient way to find the number of key-value pairs an object has, whereas this is easy to do with maps using the size property.</p>
    <p>Objects have methods that can be called (see Chapter 5) and prototypes that can be used to create a chain of inheritance (see Chapter 12), whereas maps are solely focused on the storage and retrieval of key-value pairs.</p>
    <p>The value of an object's properties can be accessed directly, whereas maps restrict you to using the get() method to retrieve any values.</p>
    <p>The conditional <a href"https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator">(ternary) operator</a> is the only JavaScript operator that takes three operands: a condition followed by a question mark (?), then an expression to execute if the condition is truthy followed by a colon (:), and finally the expression to execute if the condition is falsy. This operator is frequently used as a shortcut for the if statement.</p>
    <p>A symbol value may be used as an identifier for object properties; this is the data type's primary purpose,</p>
    <p>The symbols used for property keys are not limited to being used by only one object - they can be reused by any other object</p>
    <p>JavaScript code can be placed inside square brackets and the property key will be the return value of that code.</p>
    <p>A new property can be added to an object using a symbol as a key if the square bracket notation is used</p>
    <p>Ch6</p>
    <p></p>
    <p>Ch7</p>
    <p></p>
</article>
</main>


</body>
</html>