<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
   
    <title>Portfolio|Week 4</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 </a> | Week 4 <i class="fas fa-user-ninja"></i></h1>
   
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="search.html">Search

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="teamWk4.html">Team Project 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>Notes: Novice to Ninja<i class="fas fa-user-ninja"></i></h3>
    <h4></h4>
    <ul>
        <li>Ch8 Forms</li>
        <li>Ch12 OOP </li>
        <li>Ch15 Modern JS </li>
    </ul>

    <p>Ch8
    </p>
    <p>A form object also has a method called elements that returns an HTML collection of all the elements contained in the form.</p>
    <p>We can access the form controls using their 'name' attributes as if it was a property of the form object.</p>
    <p>The form.submit() method will submit the form automatically. Note that submitting a form using this method won’t trigger the form submit event that's covered in the next section.</p>
    <p>The form.reset() method will reset all the form controls back to their initial values specified in the HTML.</p>
    <p>A form can be submitted manually by the user employing a button or input element with a type attribute of submit , or even an input element with a type attribute of image </p>
    <p>A button with a type attribute of reset can also be used to do this without the need for additional scripting</p>
    <p>Reset buttons are generally considered poor for usability, as they are too easy to click and then wipe out all the data that’s been entered. So think very carefully before using one in a form.</p>
    <p>The change event occurs when the user moves the focus away from the form elementafter changing it.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>Ch12</p>
    <p>There are three main concepts in OOP: encapsulation, polymorphism and inheritance. </p>
    <h3>Encapsulation</h3>
    <p>In OOP, this involves keeping all the programming logic inside an object and making methods available to implement the functionality, without the outside world needing to knowhowit’s done.

    </p>
    <h3>Polymorphism</h3>
    <p>this means various objects can share the same method, but also have the ability to override shared methods with a more specific implementation.</p>
    <h3>Inheritance</h3>
    <p>this means we can take an object that already exists and inherit all its properties and methods. We can then improve on its functionality by adding new properties and methods.</p>
    <h3>Class-based languages.</h3>
    <p> This is because they use a class to define a blueprint for an object.
        Objects are then created as an instance of that class, and inherit all the properties and methods of the class</p>
    <h3>Constructor function</h3>
    <p>This is a function that defines the properties and methods of an object.</p>
         
    <p>The keyword this is used to represent the object that will be returned by the constructor function.</p>
         
    <p>The static keyword can be used in class declarations to create a static method. These are sometimes called class methods in other programming languages. A static method is called by the class directly rather than by instances of the class.</p>
         
    <p>Static methods are not available to instances of the class. So, in our example, the instances of Dice such as redDice and blueDice cannot call the static description() method:</p>
     <p>Prototypal Inheritance</p>    
    <p>Every class has a prototype property that is shared by every instance of the class. So any properties or methods of a class’s prototype can be accessed by every object instantiated by that class.</p>
    <p>All classes and constructor functions have a prototype property that returns an object:</p>
    <p>if you want to augment the class with extra methods and properties after it has been created,  do this using theprototypeproperty of the class</p>
    <p>All instances of the class share all the properties and methods of its prototype. This means they can call any methods of the prototype and access any of its properties. Since the prototype is just an object, we can add new properties by assignment:</p>
   
    <p>it’s recommended to use class declarations instead of constructor functions.</p>
    <h3>Overwritting</h3>
    <p>An object instance can overwrite any properties or methods inherited from its prototype by simply assigning a new value to them.</p>
    <p>The prototype can be used to add any new properties and methods after the class has been declared. It should be used to define any properties that will remain the same for every instance of the class. </p>
    <p>A golden rule to remember is:Never use arrays or objects as a default value in prototype.</p>
    <ul>
        <li>Create a class declaration that deals with any initialization, shared properties and methods.</li>

        <li>Any extra methods and properties that need to be augmented to the class declaration after it’s been defined can be added to the prototype. These will be added to all instances, even those that have already been created.
        </li>
        <li>Add any properties or methods that are individual to a particular instance can be augmented using assignment to that object (a mixin could be used to add multiple properties at once, as we’ll see later).
        </li>
        <li>Be careful when overwriting the prototype completely ― the constructor class needs to be reset.</li>
        </ul>
    <p>Ch15</p>
</article>
</main>


</body>
</html>