
/*Portfolio*/
 $red_brown: #9e391a;
 $white:#ffffff;
 $tan:#c4ac7c;
 $light_blue:#5e6a58;
 $dark_green:#354536;
 $dark_blue:#2d433a;



/*Quiz Colors Ninja*/
 $bodyBG:#5F1C1C;
 $background:rgba(255,255,255,1);
 $boxShadow:rgba(0,0,0,0.3);
 $h1:#611bbd;
 $buttonColor:#ffffff;
 $buttonBg:#611BBD;
 $buttonBorder:#130269;
 $result:#fff;
 $wrong:#fff;
 $wrongBg:#c00;
 $correct:#0c0;
 