@use '_colors';
@use 'fonts';






.notes{
    background-color: colors.$tan;
    border: solid 2px colors.$red_brown;
    width:80%;
    padding:0rem 2rem;
   
    

}

.notes h3,{
    font: 700 2rem fonts.$nunito;
    color:colors.$dark_green;
    margin-bottom:.5rem;

}

.notes p{
    font: 700 1rem fonts.$nunito;
    color:colors.$dark_green;
    margin-top:0rem;
}


section.notes{
margin-left:auto;
margin-right:auto;

}

section.notes>h2{
    font: 700 2rem fonts.$nunito;
    color:colors.$dark_green;
    margin-bottom:.5rem;

    
}