@use '_colors';


.sidebar{
    background-color: colors.$tan;
    border: solid 2px colors.$red_brown;
    margin-right:1rem;
    padding:1rnodeem;

}

.sidebar ul{
    list-style: none;
    padding:0;
}