<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>First Event</title>
</head>
<body>
<script src="../js/first_event.js"></script>
<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../../index.html>Portfolio WDD330</a>  |  <a href=wk01.html>Week 1</a> | 2.1-2.2  <i class="fas fa-book-reader"></i></h1>
</header> 



    <button class="button_styles button_center" onClick="showCongratulations(this)">Click Me!</button>
    <div class="notes hide" id="result_display"></div>



    
</body>
</html>