<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
   
    <title>Portfolio|Week 10 | Local Quakes</title>
</head>
<body>
   <header class="header_bg">
        <h1 class="main_links header_bg header_links"><a href= ../../index.html>Portfolio WDD330 | <a href=wk010.html>Week 10</a> | Local Quakes </h1>
   
</header> 

    
        <main>
            <h1>Quake List</h1>
            <ul id="quakeList" ></ul>
        </main>
        <script type="module" src="../js/wk10.js"></script>
    </body>
</html>



 