<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Characters of Star Wars</title>
</head>
<script type="module" src="../js/wk8.js" ></script>
<body class="bgImg">
    <main>
        <div class="wrapper">
            <div id= "swAPI">
                    <!--starWars Data-->
            </div>
            <div id="controls">
               <!---- <button id = "first"> First </button>-->
                <!--<button id = "previous"> Previous</button>-->
                <i id = "first" class="fas fa-angle-double-left"></i>
                <i id="previous" class="fas fa-angle-left"></i>
                <div>
                    <ul id="pages">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                    </ul>
                </div>
               <!----<button id = "next" > Next </button>-->
                <i id="next" class="fas fa-angle-right"></i>
                <i id = "last" class="fas fa-angle-double-right"></i>
                <!--<button id = "last"> Last </button>-->
                
            </div>
        </div>
    </main>
</body>
</html>