<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/node_modules/normalize.css">
<link rel="stylesheet" href="../css/styles.css">


<title>Portfolio|Week 6</title>
</head>
<body>




<header class="header_bg">
<h1 class="main_links header_bg header_links"><a href= ../../index.html>Portfolio WDD330 </a> | Week 6</a>  |  To Do Project <i class="fas fa-user-ninja"></i></h1>


</header>  
<main>

<div class="outSide">

    <div class="tasks">
        <div class="top_div">
            <i class=" addTask fas fa-plus-circle"></i>
            <input class="taskInput" name="task"  type = 'text' placeholder="Add a Task" required>
    
        </div>
        <div class= "middle_div">
        <ul class="taskList">


        <!--//Create li Dynamically-->
    <!-- <ul>
        <li>Task</li>
        <li>Task</li>
        <li>Task</li>-->

        </ul>
        </div>
  
   

    <div class="lowerDiv">

        <ul class="sort toDoFlex">
            <li>All</li>
            <li>Active</li>
            <li>Completed</li>
        </ul>

    </div>
</div>
</main>
<script type="module" src="../js/wk6.js"></script>
</body>