<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
   
    <title>Portfolio|Week 1</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../index.html>Portfolio WDD330 | Week 8</a></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="teamWk8.html">Team Project 

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="#">TBD 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h3>CH8 HTML &amp; CSS for the Real World</h3>
    <p>Translation is similar to position relative. Translate(x,y); translatex; translatey;</p>
    <p>Scaling: scale(x,y); x horizontal scale; y vertical scale; scalex; scaley; Default origin point is the center.</p>
    <p>Rotation: rotate(x deg ); Default origin point is the center.</p>
    <p> Skew: skew(xdeg,ydeg); Skews along x and y axis; skewx(); skewy(); If second parameter is omitted, it will only skew the xaxis; Default origin point is the center.</p>
    <p>Transform-origin; defaults to center; transform-origin: 0 0;</p>
    <p>Transitions; Allows values to change over time</p>
    <ul>
        <li>Step 1: Declare original state.</li>
        <li>Step 2: Declare final state.</li>
        <li>Step 3: Include the transition functions</li>
        <ul>
            <li>transition-property</li>
            <li>transition-duration</li>
            <li>transition-timing-function</li>
            <li>transition-delay</li>
        </ul>
    </ul>



</article>
<aside class="sidebar right_sidebar">
    <h2 class="book_examples">Properties you can transition</h2>
    <ul>
        <li>background-color &amp; background-position</li>
        <li>border-color, border-spacing, and border-width</li>
        <li>bottom,top,left, and right;</li>
        <li>clip</li>
        <li>color</li>
        <li>crop</li>
        <li>font-size and font-weight</li>
        <li>height and width</li>
        <li>letter-spacing</li>
        <li>margin</li>
        <li>max-height, max-width, min-height, and min-width</li>
        <li>opacity</li>
        <li>outline-color, outline-offset, and outline-width</li>
        <li>padding</li>
        <li>text-indent</li>
        <li>text-shadow</li>
        <li>vertical-align</li>
        <li>visibility</li>
        <li>word-spacing</li>
        <li>z-index</li>

       
    </ul>
</aside>
</main>
<footer class="hikeFooter">

</footer>

</body>
</html>