<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/node_modules/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    
    <title>Portfolio|Week 9</title>
</head>
<body>
   
    

<header class="header_bg">
    <h1 class="main_links header_bg header_links"><a href= ../../index.html>Portfolio WDD330 | Week 9</a></h1>
   
</header>  

<main class="flex_parent">
<!--<script src=""></script>-->
<aside class="sidebar">
<h2 class="book_examples">Examples</h2>
<ul>
    <!--Section2.1 Example-->
    <li>
        <a class="section_links" href="drumms.html">Team Project

        </a>
    </li>
    <!--Section2.3 Example-->
    <li>
        <a class="section_links" href="#">TBD 
            
        </a>
    </li>
</ul>
</aside>


<!--notes--->
<article class="notes">
    <h2>Notes</h2>
    <h3>CH9 the Window Obj</h3>

    <h3>Ch14 Html 5 API's</h3>
    <p>The data- attribute is a way of embedding data in a web page using custom attributes that are ignored by the browser.</p>
    <p>data-set is used to access the value of the data attribute</p>
    <p>The Web Storage API provides a key-value store on the client’s computer that is similar to using cookies but has fewer restrictions, more storage capacity, and is generally easier to use. This makes it perfect for storing information about users, as well as storing application-specific information that can then be used during future sessions.</p>
    <p>The Geolocation API is used to obtain the geographical position of the device. This means it can be used to find the user’s exact location, then link to nearby places or measure the speed at which the user is moving. This information can then be used to filter data based on the user's location or speed and direction of travel. An example of this might be a search function that returns results based on your location. Because of privacy concerns, permission to use this has to be granted by the user first.</p>
    <p>Web workers allow processes to be run in the background, adding support for concurrency in JavaScript. The idea is that any processes that could take a long time are carried out in the background, so a website will continue to function without fear of the dreaded 'script has become unresponsive' message that occurs when a script runs for too long, shown below.</p>
    <p>The Service Worker API allows a worker script to run in the background with the added benefit of being able to intercept network requests. This allows you to take alternative action if the network is offline, and effectively create app-like offline experiences. Service workers also allow access to push notifications and background syncing. Service workers require a secure network to run on HTTPS to avoid any malicious code hijacking network requests.</p>
    <p>Websocket is a new protocol that allows two-way communication with a server – also known as push messaging. This means that a connection is kept open and responses are ‘pushed’ to the client as soon as they are received.</p>
    <p>The Notification API allows you to show messages using the system's notifications. This is usually a popup in the corner of the screen, but it changes depending on the operating system. An advantage of using the system notification is that they will still be displayed even if the web page that calls them isn't the current tab.</p>
    <p>The terms shim and polyfill are often used interchangeably. The main difference between them is that a shim is a piece of code that adds some missing functionality to a browser, although the implementation method may differ slightly from the standard API. A polyfill is a shim that achieves the same functionality, while also using the API commands that would be used if the feature was supported natively.</p>
    <h3>Modern front-end work flow</h3>
   
</article>
</main>


</body>
</html>